html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
  background-color: grey; 
  font-family: 'Lucida Sans';
  font-size: 100%;
	display : table;
  width: 100%;
  background: url(Pictures/mur_noir.jpg);
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
footer {
	display : table-row;
	height: 100px; /* à titre d'exemple */
}

.erreur {
  color: yellow;  
  font-family: 'Courier New', Courier, monospace;
  font-size: 120%;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em rgb(14, 219, 76)
}

h1 {
 font-size: 200%; 
 color: red; 
 text-align: center;
 font-family: 'Lucida Sans';
 }


h2 {
 font-size: 150%; 
 color: rgb(197, 30, 30); 
 padding-left: 15px;
 font-family: 'Lucida Sans';
  text-align: center;
 }

.link {
  font-size: 150%; 
  color: rgb(0, 204, 255); 
  font-family: 'Lucida Sans';
  text-align: center;
  width:200px; 
}

.link:hover {
  background-color: #FFFF00; 
  color: rgba(0, 0, 0, 0.603);
}

.link:active {
  color: rgb(255, 0, 234);
}

 .RAZ {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(10, 50, 150, 0.5);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.RAZ:hover{
  background-color: rgba(50,75,90,1);
}

.RAZ:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.button {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);

}

.button:hover {
    background-color: rgba(255, 125, 200, 1);
}

.button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.badpage {
  font-size: 75%;
  text-align: center;
}

.deco{
  line-height: 2.5;
  padding: 20px 20px;
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
  border: 2px solid rgba(228, 22, 22, 0.664);
  border-radius: 12px;
  background: url(Pictures/saucisson.png) no-repeat;
  background-color: rgba(255, 255, 255, 0.452);
  background-position:center center;
  width: 150px; 
  height: 90px;
}

.deco:hover {
  background-color: rgba(0, 0, 0, 0.568);
  border: 2px solid rgb(255, 251, 0);
}

.deco:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
              inset 2px 2px 3px rgba(255, 255, 255, 0.568);
}

.fixedHautDroite{
  position: fixed;
  top : 3%;
  right: 3%;
}


.menu {
  list-style-type: none;
  top: 1%;
  left: 1%;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 75%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: rgb(235, 41, 15);
  color: white;
}

li a:hover:not(.active) {
  background-color: rgb(77, 71, 71); 
  color: white;
}


/* paragrapheVendeurClient : passer à droite du menu */
.PVC{
  position:relative;
  left:20%;
  width:75%;
}




.table1 {
  border: medium solid #ff0404;
  border-collapse: collapse;
  width: 80%;
  }
  .tr1 {
  font-family: monospace;
  border: thin solid #7c4600;
  width: 80%;
  padding: 5px;
  background-color: rgba(183, 186, 190, 0.658);
  }
  .td1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: thin solid #7c4600;
  width: 15%;
  padding: 5px;
  text-align: center;
  background-color: #a1a1a1;
  }

  .th1 {
    border: thin solid #7c4600;
    width: 15%;
    padding: 5px;
    text-align: center;
    }


  .fixedModifProfil{
    position: fixed;
    top : 15%;
    right: 3%;
  }